.jumbotron{
	opacity: 0.8;
}
body {
	background-color: yellow;
	/*background-image: url("http://img01.deviantart.net/5c5c/i/2012/213/b/c/railroad_track_by_j_pn-d59fcdt.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:750px;
    width: 100%; */
}

